.uploadImage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    z-index: 1;
    
}

.picSelect {
    cursor: pointer;
}

.imagePre {
    width: 400px;
}

.preview {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.image_form{
    display: hidden;
}

.preview input {
    width: 100%;
    border-radius: 4px;
    height: 20px;
    margin-bottom: 5px;
}