body {
    margin: 0;
}

.InstaNavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    height: 45px;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 10;
    
}
.InstaNavBar img {
    width:30px;
    height:30px;
}

.InstaSnap-Logo {
    background-image: url(/public/images/instagram-logo.png);
    background-color: black;
    overflow: hidden;
}

a {
    text-decoration: none;
    font-size: 28px;
    font-family: 'Billabong';
    cursor: pointer;
    color: black;
}

.logo_font {
    font-family: 'Philosopher';
    font-size: 26px;
    margin: 0;
    margin-bottom: 4px;
}

/* input {
    border-radius: 4px;
} */

.upload_img {
    border-radius: 50px;
}

.image_form {
    display: none;
}

.form_display {
    z-index: 10;
    position: fixed;
    top: 25%;
    left: 30%;
    margin: 0;
    width: 600px;
    background-color: white;
    border: 1px solid black;
}

.blur {
    background: rgba(0,0,0,.5);
    opacity: .2;
}