body {
    margin: 0;
}

.InstaNavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    
}
.InstaNavBar img {
    width:30px;
    height:30px;
}

.InstaSnap-Logo {
    background-image: url(/public/images/instagram-logo.png);
    background-color: black;
    overflow: hidden;
}

a {
    text-decoration: none;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    border-radius: 4px;
}