.Post {
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    width: 37%;
    margin: auto;
    display: flex;
    height: auto;
    flex-direction: column;
    margin-bottom: 50px;
}

.all_posts {
    padding-top: 75px;
}

.UserPost {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.post_profile_pic {
    height: 30px;
    width: 30px;
    border-radius: 40px;
    margin: 2px;
}

.PostImg {
    width: 100%;
    display: block;
    height: 100%;
    padding: 0;
}

.PostImg img {
    width: 100%;
    height: 100%;
    display: block;
}

.PostComments {
    border-top: 1px solid black;
}

.PostComments input {
    width: 90%;
    position: relative;
    border: none;
    outline: none;
    margin: 10px;
    font-size:18px;
}
.comment_form {
    border-top: 1px solid gray;
}

.UserPostName a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}