.profile_pic {
width: 80px;
height: 80px;
border-radius: 4px;
}

.user_profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid gray;
    width: 75%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-top: 55px;
}

.comment_form {
    border-top: 1px solid gray;
}