.profile_pic {
width: 80px;
height: 80px;
border-radius: 40px;
margin: 5px;
}

.UserPost {
    margin: 3px;
}

.user_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid gray;
    width: 75%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-top: 55px;
}

.comment_form {
    border-top: 1px solid gray;
}
.user_info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.UserPostProfileImg {
    padding-right: 3px;
}

.profile_button {
display:inline-block;
padding:0.3em 1.2em;
margin:0 0.3em 0.3em 0;
border-radius:2em;
box-sizing: border-box;
text-decoration:none;
font-weight:300;
color:#FFFFFF;
background-color:#4eb5f1;
text-align:center;
transition: all 0.2s;
}

.profile_form {
    display: none;
}

.form_display {
    z-index: 10;
    position: fixed;
    top: 15%;
    left: 30%;
    margin: 0;
    width: 600px;
    background-color: white;
    border: 1px solid black;
}

.blur {
    background: rgba(0,0,0,.5);
    opacity: .2;
}

.user_profile_postpic {
    width: 30px;
    height:30px;
    border-radius:40px;
}